.tab {margin-left: 40px;}
.tab1 {margin-left: 80px;}

.boxed {
       border: 1px solid green;
       }

body{
     background-color: powderblue;
    }
    
h1{
   color:blue;
  }
  
p {
  color:red;
  }
  
 
