.tab {margin-left: 40px;}
.tab1 {margin-left: 80px;}

.boxed {
       border: 5px solid green;
       width: 300px;
       padding: 25px;
       margin: 25px:       
       }

body{
     background-color:powderblue;
    }
    
h1{
   color:blue;
  }
  
p {
  color:darkblue;
  }
  
 
