.tab {margin-left: 40 px;}
.tab1 {margin-left: 80 px;}

.boxed {
       border: 1 px solid green;
       }

body{
     background-color: powder blue;
    }
    
h1{
   color:blue
  }
  
p {
  color:light blue;
  }
  
 
